<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.user.mapper.UserMapper">


  <select id = "getUserList"
  	resultType="com.board.user.domain.UserVo">
  	
  	SELECT			USERID,
  					USERNAME,
  					EMAIL,
  					CASE
  						WHEN UPOINT BETWEEN 8000 AND 10000THEN'VIP'
  						WHEN UPOINT BETWEEN 8000 AND 10000THEN'우수 VIP'
  						WHEN UPOINT BETWEEN 8000 AND 10000THEN'일반'
  						WHEN UPOINT BETWEEN 8000 AND 10000THEN'준회원'
  						WHEN UPOINT BETWEEN 8000 AND 10000THEN'손님'
  					END UPOINT,
  					TO_CHAR( INDATE,'YYYY-MM-DD') INDATE
  	FROM			TUSER
  	ORDER BY		USERID  	ASC
  		
  </select>
</mapper>